%title
  = "BurnMeDown / #{controller.controller_path.capitalize} / #{controller.action_name.capitalize}"
%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
%meta{ name: "description", content: "Burn-down chart generator" }
%meta{ property: "og:title", content: "" }
%meta{ property: "og:type", content: "" }
%meta{ property: "og:description", content: "" }
%meta{ property: "og:url", content: "" }
%meta{ property: "og:image", content: "" }

